body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 46px;
    height: 46px;
}

.media-body {
    padding: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.question-tag {
    margin-right: 5px;
}

.question-related {
    line-height: 20px;
    font-size: 14px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.profile .section {
    margin-top: 15px;
}

.forum-menu {
    color: #999;
    font-size: 17px;
}

.jumbotron {
    margin: 100px;
}

.comment {
    margin: 10px 0;
}

.comment-count {
    margin-top: 10px;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
}

.sub-comments .btn {
    margin: 10px 0;
}

.comment-sp {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 17px;
    cursor: pointer;
}

.menu .comment-icon :hover {
    font-size: 17px;
    cursor: pointer;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}

.comments {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.question-title {
    margin-top: 30px;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    margin-right: 10px;
}

