body{
    background-color: #efefef;
}
.main {
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 46px;
    height: 46px;
}

.media-body {
    padding: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.forum-menu {
    color: #999;
    font-size: 17px;
}

.jumbotron {
    margin: 100px;
}

.comment {
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}